@font-face {
  font-family: "Monsieur La Doulaise";
  src: url("./assets/MonsieurLaDoulaise-Regular.ttf") format("truetype");
}

@import "tailwindcss";
/* Horizontal portfolio scrollbar */
::-webkit-scrollbar {
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.18);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0,0,0,0.3);
}
